#Project {
  border: 1px solid rgba(10, 140, 233, 0.9);
  border-radius: 10px;
  padding: 1.25rem;
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  .name {
    .text {
      font-size: 1.8rem;
      color: #fff;
      font-weight: bold;
    }
    .text-secondary {
      color: rgba(178, 210, 233, 0.9);
    }
  }

  .project-avatar {
    position: relative;

    .avatar {
      border: 2px solid rgba(10, 140, 233, 0.9);
      border-radius: 50%;
      width: 80px;
      height: 80px;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
      }

      .chain {
        position: absolute;
        bottom: -8px;
        right: -5px;
        width: 32px;
        height: 32px;
        padding: 2px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(22 20 49);
        overflow: hidden;

        img {
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }

  .social {
    color: rgba(10, 140, 233, 0.9);
    margin-right: 24px;
    z-index: 1;
    &:hover {
      color: red;
    }

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  .badge {
    padding: 5px 10px;
    border-radius: 10rem;
    font-size: 11px;
    font-weight: bold;

    &-gray {
      background-color: rgba(163, 163, 163, 0.5);
      color: rgba(212, 212, 212, 0.9);
    }

    &-green {
      background-color: rgba(4, 120, 87, 0.5);
      color: rgba(16, 185, 129, 0.9);
    }
  }

  .description {
    color: #fff;
    height: 50px;
    line-height: 25px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    font-size: 14px;
  }

  .details {
    .text-blue {
      color: rgba(165, 217, 255, 0.9);
    }

    .progress {
      background-color: rgba(82, 82, 82, 0.5);
      height: 8px;
      border-radius: 8px;

      :global {
        .progress-bar {
          background-color: rgba(10, 140, 233, 0.9) !important;
        }
      }
    }
  }

  .footer {
    font-size: 18px;
    padding: 20px 0 10px 0;
    border-top: 1px solid rgba(10, 140, 233, 0.9);

    a {
      color: #fff;
      text-align: center;
      display: block;
      position: relative;
      z-index: 1;

      &:hover {
        color: rgba(10, 140, 233, 0.9);
      }
    }
  }

  &:hover {
    position: relative;
    top: -10px;
    background-color: #080f2680;

    .description {
      color: #00f1ff;
    }
  }
}
