$fontSideRoot: 16px;
$fontSideBase: 1rem;
$headerHeight: 55;
$headerBottomHeight: 50;
/* Define all the important z-index */
$headerZIndex: 99999;
$modalZIndex: 999999;
$tooltipZIndex: 999999;
$toastZIndex: 9999999;
$loadingSpinnerZIndex: 9999999;

@mixin spinInfinite($time: 20s) {
  animation: spin-infinite infinite $time linear;
  @keyframes spin-infinite {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@mixin shineInfinite($time: 2s) {
  animation: $time linear 0s infinite normal none running Serotonin;
  @keyframes Serotonin {
    0% {
      box-shadow: rgb(96, 213, 220) 0px 0px 20px;
    }
    20% {
      box-shadow: rgb(96, 213, 220) 0px 0px 25px;
    }
    40% {
      box-shadow: rgb(96, 213, 220) 0px 0px 15px;
    }
    60% {
      box-shadow: rgb(96, 213, 220) 0px 0px 10px;
    }
    80% {
      box-shadow: rgb(96, 213, 220) 0px 0px 15px;
    }
    100% {
      box-shadow: rgb(96, 213, 220) 0px 0px 20px;
    }
  }
}

/*
  How to use:
  @include textOverflowEllipsis(4);
*/
@mixin textOverflowEllipsis($lineNumber) {
  @if $lineNumber > 1 {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $lineNumber;
  }
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

/*
  This one let allow define media query within one class.
  The media queries affect screen widths with the given breakpoint or larger.

  How to use:
  @include MaxWidth(xs) {
    padding-bottom: 11px;
  }

  References:
  https://css-tricks.com/media-queries-sass-3-2-and-codekit
*/
@mixin MinWidth($point) {
  @if $point == xs {
    @media (min-width: 0px) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: 576px) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == xl {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == xxl {
    @media (min-width: 1400px) {
      @content;
    }
  }
}
@mixin MaxWidth($point) {
  @if $point == xs {
    @media (max-width: 575px) {
      @content;
    }
  } @else if $point == sm {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $point == md {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $point == lg {
    @media (max-width: 1199px) {
      @content;
    }
  } @else if $point == xl {
    @media (max-width: 1399px) {
      @content;
    }
  }
}
